*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}


.link{
    color: #fff;
}
body{
    background: #000000;
    color: #fff;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    justify-content: space-between;
    transition: all .50s ease;
}
.logo{
    font-size: 33px;
    font-weight: 700;
    color: #fff;
}
.logo:hover{
    transition: all .10s ease;
    color: aqua;
}
span{
    color: #ffa343;
}

.navbar{
    display: flex; 
}
.navbar a{
    color: #fff;
    font-size: 1rem ;
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: #ffa343;
}
.h-right{
    display: flex;
    align-items: center;
     
}
.h-right a:first-child{
    color: #fff;
    font-size: 1rem;
    margin-right: 20px;
}
.h-right a{
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
}
.h-right a:hover{
    color: #ffa343;
    transform: translateY(-3px);
}
#menu-icon{
    color: #5e1e1e;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
section{
    padding: 70px 17% 60px;
    
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.281),rgb(0, 0, 0)),url(../img/cover.jpg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.home-text h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ffa343;
}
.home-text h1{
    font-size: 6rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;

}
.home-text p{
    font-size: 1rem;
    font-weight: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}
.btn{
    display: inline-block;
    padding: 13px 40px;
    background: #ffa343;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .50s ease;
    cursor: pointer;  
}
.btn:hover{
    transform: translateX(10px);
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}
.home-text a{
   color: #000000;
}

header.sticky{
    padding: 8px 17%;
    background: transparent;
    backdrop-filter: blur(35px);

}
.feature-content{
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
}
.row-img{
     overflow: hidden;
     width: 100px;
     height: 100px;
     margin: 0 auto;
     border-radius: 50%;
     cursor: pointer;
}
.row-img img{
    width: 100%;
    display: block;
    transition: transform 0.7s;

}
.row-img img:hover{
    transform: scale(1.2);
}
.feature-content h4{
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all .50s ease;
}
.feature-content h4:hover{
    color: #ffa343;

}
.holiday{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 9rem;
}
.holiday-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.holiday-text h5{
    font-size: 22px;
    font-weight: 600;
    color: #ffa343;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.holiday-text h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 25px;
    color: #e68989;
}
.holiday-text a{
    color: #000000;
}   
.holiday-text p{
    color: #ffffffab;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 35px;
}
.tour-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
}